<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <!--Sidebar content-->

                Search: <input ng-model="query">
            </div>
            <div class="row">
                Sort by:
                <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </div>
            <div class="row">
                <form ng-submit="createPlatform()" ng-controller="PlatformCreateController">
                    Platform name:
                    <input type="text" ng-model="text" name="Name"/>
                    Platform description:
                    <input type="text" ng-model="text" name="Description"/>
                    <input type="submit" id="createPlatform" value="Create"/>
                    <pre>list={{list}}</pre>
                </form>
            </div>

        </div>

        <div class="col-md-10">
            <!--Body content-->
            <h1>Platforms</h1>
            <ul class="phones">
                <li ng-repeat="platform in platforms | filter:query | orderBy:orderProp">

                    <p>Name: {{platform.name}}</p>

                    <p>Description: {{platform.description}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>

