doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    -each script_src in scriptlist
        script(src=script_src, type="text/javascript")
  body
    block content
