doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript').
        console.log("connecting...");
        var socket = io('http://localhost:3000');
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
        });
        socket.on('packet', function (data) {
            console.log("Got packet", data);
        });
  body
    block content
