<div class="container-fluid">
    <h1>Platforms</h1>

    <div class="row">
        <div class="col-md-2" id="platform-sidebar">

            <button type="button" class="btn btn-default" aria-label="Create"
                    ng-click="createMode(); editPlatformDetail.$show()">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>

            <button type="button" class="btn btn-default" aria-label="Duplicate">
                <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Delete">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
            </button>
            <div class="row">
                <label for="query">Filter</label>
                <input id="query" ng-model="query"/>
            </div>
            <div class="row">
                <label for="ordering">Order by</label>
                <select id="ordering" ng-model="orderProp">
                    <option value="name">Name</option>
                    <option value="_id">ID</option>
                </select>
            </div>
            <hr/>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        Platform name
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="platform in platforms | filter:{name:query} | orderBy:orderProp"
                    ng-click="setDetail(platform)"
                    ng-class="{'active': platform._id === selected_platform._id}"
                    style="cursor:pointer">
                    <td>{{platform.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>  <!-- End platform-sidebar -->

        <div class="col-md-10" id="platform-detail">

            <form editable-form name="editPlatformDetail" onaftersave="saveSelectedPlatform()" class="form-horizontal">
                <h3>Platform name</h3>

                <p editable-text="selected_platform.name" e-name="name" e-required>{{ selected_platform.name || "empty"
                    }}</p>

                <h3>Description</h3>

                <p editable-textarea="selected_platform.description" e-name="description" e-rows="7" e-cols="40">
                    {{selected_platform.description || "empty"}}</p>

                <h3>Platform ID</h3>
                <pre>{{selected_platform._id}}</pre>

                <!-- button to allow editing of the detail -->
                <button type="button" class="btn btn-default" ng-click="editPlatformDetail.$show()"
                        ng-show="!editPlatformDetail.$visible">
                    <span class="glyphicon glyphicon-pencil"> Edit</span>
                </button>

                <!-- buttons to submit / cancel the edit -->
                <span ng-show="editPlatformDetail.$visible">
                    <button type="submit" class="btn btn-primary" ng-disabled="editPlatformDetail.$waiting">
                        <span class="glyphicon glyphicon-save"></span>  Save Changes
                    </button>
                    <button type="button" class="btn btn-default" ng-disabled="editPlatformDetail.$waiting"
                            ng-click="editPlatformDetail.$cancel()">
                        <span class="glyphicon glyphicon-remove"> Cancel</span>
                    </button>
                </span>

            </form>

            <hr/>

            <h2>Member streams</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>StreamId</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stream in streams">
                    <td>{{stream._id}}</td>
                    <td>{{stream.name}}</td>
                </tr>
                </tbody>
            </table>

            <hr/>

            <h2>Recent locations</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>timestamp</th>
                    <th>latitude</th>
                    <th>longitude</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="location in locations">
                    <td>{{location.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                    <td>{{location.latitude}}</td>
                    <td>{{location.longitude}}</td>
                </tr>
                </tbody>
            </table>

        </div> <!-- End platform-detail -->
    </div>
</div>
