<div class="container-fluid" style="margin-top:20px">

    <div class="col-md-2" id="platform-sidebar">

        <div class="row">
            <label for="query">Filter</label>
            <input id="query" ng-model="query_filter"/>
        </div>

        <div class="row">
            <label for="ordering">Order by</label>
            <select id="ordering" ng-model="orderProp">
                <option value="name">Name</option>
                <option value="_id">ID</option>
            </select>
        </div>


        <button type="button"
                class="btn btn-default"
                aria-label="Create"
                ng-click="goTo('platforms/create')">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> New platform</span>
        </button>


    </div>  <!-- End platform-sidebar -->


    <div class="col-md-10" id="platform-list">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    Platform name
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="platform in platforms | filter:{name:query_filter} | orderBy:orderProp"
                ng-click="goToDetail(platform._id)"
                style="cursor:pointer">
                <td>
                    <p class="platform-name">{{platform.name}}</p>
                    <p class="platform-description">{{platform.description}}</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div> <!-- End platform-list -->
</div>
