# The WeeRT RESTful API, Version 1

## Objects

This section lists various objects that the WeeRT API uses, either passed in via the request body, or returned in
the response body. They are all in JSON.

### The `error` object

In case of an error, an `error` object is returned in the body of the response.

#### Definition

|     Attribute | Type    | Description                                                      |
|--------------:|---------|------------------------------------------------------------------|
|        `code` | integer | HTTP status code.                                                |
|     `message` | string  | A string describing the error.                                   |
| `description` | string  | A more detailed description of the error. [Not always available] |

#### Example

```JSON
{
  "code" : 409,
  "message" : "Duplicate time stamp",
  "description" : "E11000 duplicate key error index: weert.streams_s1_packets.$_id_ dup key: { : new Date(1446239529521) }"
}
```

### The `stream` object

#### Definition

|     Attribute | Type   | Description                                                |
|--------------:|--------|------------------------------------------------------------|
|         `_id` | string | A unique identifier. or `streamID`, for the stream.        |
|        `name` | string | A unique name for the stream.                              |
| `description` | string | A free-form description of the stream.                     |
| `unit_group`  | string | The Standard Unit Group used by the stream.                |

#### Example
```JSON
{
  "_id"         : "569aa06605be9995051ee8fe",
  "name"        : "Boiler feed 93",
  "description" : "Onewire feed from boiler; uses blue wire",
  "unit_group"  : "METRIC"
}
```


### The `platform` object

#### Definition

|     Attribute | Type   | Description                                                                                 |
|--------------:|--------|---------------------------------------------------------------------------------------------|
|         `_id` | string | A unique identifier, or `platformID`, for the platform.                                     |
|        `name` | string | A unique name for the platform.                                                             |
| `description` | string | A free-form description of the platform.                                                    |
|    `location` | string | The *streamID* of the Location Stream                                                       |

#### Example

```JSON
{
  "_id"         : "569aa06605be9995051ee8f9",
  "name"        : "Benny's Ute",
  "description" : "Benny's Ute. Yellow Chevy with a black cap",
  "location"    : "569aa06705be9995051ee900"
}
```

### The `packet` object

#### Definition

|          Attribute | Type          | Description                                                                                                                 |
|-------------------:|---------------|-----------------------------------------------------------------------------------------------------------------------------|
|        `timestamp` | integer       | Unix epoch time in milliseconds.                                                                                            |
| _observation type_ | _unspecified_ | The type of observation (_e.g._, `outside_temperature`). Generally, these are real values, but WeeRT does not require this. |

#### Example
```JSON
{
 "timestamp" : 1446158201379,
 "outside_temperature" : 22.14,
 "inside_temperature" : 20.51,
 "barometer_pressure": 1004.2
 ...
}
```

### The `location` packet

This is a specialized version of the `packet` object, which holds location information.

#### Definition

|   Attribute | Type    | Description                                                        |
|------------:|---------|--------------------------------------------------------------------|
| `timestamp` | integer | Unix epoch time in milliseconds.                                   |
|  `latitude` | real    | The latitude in decimal degrees; negative for southern hemisphere. |
| `longitude` | real    | The longitude in decimal degrees; negative for western hemisphere. |
|  `altitude` | real    | The altitude of the platform. [Optional]                           |

#### Example
```JSON
{
  "timestamp" : 1446767591000,
  "latitude"  : 45.1082,
  "longitude" : -122.0395,
  "altitude"  : 235.2
}
```




## Time queries
Some of the WeeRT APIs involve a *time query*. For example, to get a set of packets from a stream with ID 12345,
one performs an HTTP GET like this:

    GET /api/v1/streams/12345/packets?start=XXXXX&stop=YYYYY

This would return all packets with timestamps between XXXXX and YYYYY. However, this is *exclusive* on the left,
inclusive on the right. So, what is really being returned is packets satisfying the criteria

    XXXXX < timestamp <= YYYYY

There are 2 reasons for arranging queries this way.

1. When doing aggregations for adjacent time intervals, it is important that the same packet not be included twice.
If a query included both the start and stop timestamp, then a set of queries of the form

        XXXXX         <= timestamp <= XXXXX +    delta
        XXXXX + delta <= timestamp <= YYYYY +  2*delta

    would include the packet with timestamp `XXXXX + delta` twice.

2. Given that we need to make the query exclusive on either the start or stop, which do we choose?
While a packet with a timestamp `XXXXX` represents the "instantaneous" value of the observation types at time `XXXXX`,
the variables were actually observed for some time period leading up to the timestamp. For example, the packet may
record a rain bucket tip, but that tip was the result of some accumulation of rain leading up to the timestamp.
So, we regard a packet with timestamp `XXXXX` as representing the world leading up to the time `XXXXX`.

    So, it is most natural to have the queries exclusive on the start time, inclusive on the stop time. The query
    of two adjacent time intervals becomes

        XXXXX         <  timestamp <= XXXXX +    delta
        XXXXX + delta <  timestamp <= YYYYY +  2*delta

and the same packet is not included twice.

## Return codes

The following table gives the pattern of return codes used by WeeRT

| *Status* | *Meaning*                                                                                   |
|:---------|:--------------------------------------------------------------------------------------------|
| 200      | Successfully completed the request.                                                         |
| 201      | Successful creation of a new resource, such as a stream, platform, packet, or location. Generally, the new resource is returned in the response body. |
| 204      | Successful completion of the request, but no content is being returned in the response body.|
| 400      | Bad or malformed request. Possibilities include a bad resource ID, or a duplicate resource ID|
| 404      | Non existent resource. You requested, or tried to delete, a resource that does not exist.   |
| 415      | Invalid content type (perhaps you forgot to set `Content-type` to `application-json`?)      |


## API summary
Unless otherwise noted, data is returned in the response body, formatted as JSON.

| *HTTP verb* | *Endpoint*                                           | *Description*                                                                                     | *STATUS* |
|-------------|------------------------------------------------------|---------------------------------------------------------------------------------------------------|----------|
| `POST`      | `/api/v1/platforms`                                  | Create a new platform, returning its UR in the Locations field. Return its metadata.              | I, D, T |
| `GET`       | `/api/v1/platforms`                                  | Get an array of platform metadata or platform URIs, satisfying sorts and limits.                  | I, D, T |
| `GET`       | `/api/v1/platforms/:platformID`                      | Get the metadata for platform *platformID*.                                                       | I, D, T |
| `PUT`       | `/api/v1/platforms/:platformID`                      | Update the metadata for platform *platformID*.                                                    | I, D, T |
| `DELETE`    | `/api/v1/platforms/:platformID`                      | Delete platform *platformID*.                                                                     | I, D, T |
| `POST`      | `/api/v1/platforms/:platformID/streams`              | Post a new set of streams associated with platform *platformID*                                   |         |
| `GET`       | `/api/v1/platforms/:platformID/streams`              | Get all sets of streams associated with platform *platformID*, satisfying certain search criteria |         |
| `GET`       | `/api/v1/platforms/:platformID/streams/:timestamp`   | Get the set of streams associated with *platformID* at the given time                             |         |
| `DELETE`    | `/api/v1/platforms/:platformID/streams/:timestamp`   | Delete the set of streams associated with *platformID* at the given time                          |         |
| `POST`      | `/api/v1/platforms/:platformID/locations`            | Post a new location for platform *platformID*, returning its URI in the Locations field.          | I, D, T |
| `GET`       | `/api/v1/platforms/:platformID/locations`            | Get all locations for platform *platformID*, satisfying certain search or aggregation criteria.   | I, D, T |
| `GET`       | `/api/v1/platforms/:platformID/locations/latest`     | Return the last location packet for platform *platformID*.                                        | I, D, T |
| `GET`       | `/api/v1/platforms/:platformID/locations/:timestamp` | Return a location packet for platform *platformID* with the given timestamp.                      | I, D, T |
| `DELETE`    | `/api/v1/platforms/:platformID/locations/:timestamp` | Delete a location packet for platform *platformID* with the given timestamp.                      | I, D, T |
| `POST`      | `/api/v1/streams`                                    | Create a new stream, returning its URI in the Locations field. Return its metadata.               | I, D, T |
| `GET`       | `/api/v1/streams`                                    | Return an array of URIs to all the streams.                                                       | I,    T |
| `GET`       | `/api/v1/streams/:streamID`                          | Get the metadata for stream *streamID*.                                                           | I,    T |
| `PUT`       | `/api/v1/streams/:streamID`                          | Set or update the metadata for stream *streamID*                                                  | I,    T |
| `DELETE`    | `/api/v1/streams/:streamID`                          | Delete stream *streamID*                                                                          | I,    T |
| `POST`      | `/api/v1/streams/:streamID/packets`                  | Post a new packet to stream *streamID*, returning its URI in Locations field.                     | I, D, T |
| `GET`       | `/api/v1/streams/:streamID/packets`                  | Get all packets from stream *streamID*, satisfying certain search or aggregation criteria.        | I, D, T |
| `GET`       | `/api/v1/streams/:streamID/packets?agg_type=x&obs_type=y`| Get the aggregate type *x* (*e.g.*, `max`) for observation type *y* from a set of packets.    | I, D, T |
| `GET`       | `/api/v1/streams/:streamID/packets/latest`           | Return the last packet in the stream *streamID*.                                                  | I, D, T |
| `GET`       | `/api/v1/streams/:streamID/packets/:timestamp`       | Return a packet from stream *streamID* with the given timestamp.                                  | I, D, T |
| `DELETE`    | `/api/v1/streams/:streamID/packets/:timestamp`       | Delete a packet from stream *streamID* with the given timestamp.                                  | I, D, T |

Status codes:
I = Implemented
D = Documented
T = Tested
P = Partial

#### Queries
Many of the GET operators take an optional `query` parameter to restrict the returned results. The value of the query
should be a [MongoDB query expression](https://docs.mongodb.org/manual/tutorial/query-documents/). For example, a query
that restricts to temperatures greater than or equal to 20, and less than 25, would look like:

```Javascript
q = {outside_temperature: {$gte: 20, $lt: 25}}
```
To be included as a query parameter, this must first be converted to JSON, then escape encoded. The resultant URL
parameter string could be created like this:

```Javascript
q = {outside_temperature: {$gte: 20, $lt: 25}}
query = '&query=' + encodeURIComponent(JSON.stringify(q));
```

with results
```
'&query=%7B%22outside_temperature%22%3A%7B%22%24gte%22%3A20%2C%22%24lt%22%3A25%7D%7D'
```

This string is then tacked on to the end of the url.

#### Examples
In the examples that follow, the responses are intended to be self-consistent. That is, the same data was used across
all examples.




## Create a new platform

Create a new platform and return its metadata

```
POST /api/v1/platforms
```

**JSON input**

| *Name* | *Type* | *Description* |
|:---|:---|:---|
| `name` | string | Optional. If given, must be unique |

**Return status**

| *Status* | *Meaning*             |
|:---------|:----------------------|
| 201      | Success               |
| 415      | Invalid content type  |

This interface will create the new platform, and create a location stream to hold its location data.

If successful, the server will return the metadata of the new platform.
The URI of the new platform will be returned in the `Location` field.

**Example**

```Shell
$POST_platforms
```





## Get platforms

Query the database for information about platforms. Return either an array of URIs to the platforms,
or the platform data itself, depending on the `as` parameter.

```
GET /api/v1/platforms
```

**Parameters**

| *Name*   | *Type* | *Value*      | *Description*                                          |
|:---------|:-------|:-------------|:-------------------------------------------------------|
| `as`     | string | `links`      | Return results as an array of URIs (default).          |
| `as`     | string | `values`     | Return results as an array of platform values.         |


**Return status**

| *Status* | *Meaning*             |
|:---------|:----------------------|
| 200      | Success               |

If successful, the server will return either an array of URIs to all known platforms, or an array of
platform values, depending on the value of parameter `as`.

**Example**

```Shell
$GET_platforms_ref
```

*Do the example again, but by value*

```Shell
$GET_platforms_value
```





## Get the metadata of a particular platform

```
GET /api/v1/platforms/:platformID
```


| *Status* | *Meaning*             |
|:---------|:----------------------|
| 200      | Success               |
| 404      | Platform not found    |


**Example**

```Shell
$GET_platforms_platformID
```





## Update an existing platform

Update the metadata of an existing platform

```
PUT /api/v1/platforms/:platformID
```

**JSON input**

| *Name* | *Type* | *Description* |
|:--|:--|:--|
| `name` | string | Optional. A new name for the platform. If given, it must be unique|

**Return status**

| *Status* | *Meaning*              |
|:---------|:-----------------------|
| 204      | Success                |
| 400      | Malformed request      |
| 404      | Platform not found     |
| 415      | Invalid content type   |

If successful, the server will return status code `204`, with nothing in the response body.

**Example**

```Shell
# The platform before modifications:
$GET_platforms_platformID

# Now modify the platform, using PUT:
$PUT_platforms_platformID

# Now retrieve the platform, verifying the update worked:
$GET_platforms_platformID_mod1
```





## Delete a particular platform

```
DELETE /api/v1/platforms/:platformID
```

| *Status* | *Meaning*             |
|:---------|:----------------------|
| 204      | Success               |
| 404      | Platform not found    |

**Example of deleting a platform**

```Shell
$DELETE_platforms_platformID
```

**Example of deleting a non-existent platform**

```Shell
$DELETE_platforms_badID
```





## Post a new location packet

Post a new location for a specific platform

```
POST /api/v1/platforms/:platformID/locations
```

**JSON input**

| *Name* | *Type* | *Description* |
|:--|:--|:--|
| `timestamp` | Integer | Timestamp in milliseconds since the Unix epoch |
| `latitude` | Real | Latitude of the platform |
| `longitude` | Real | Longitude of the platform|
| `altitude`  | Real | Altitude of the platform in meters. Optional.|


**Return status**

| *Status* | *Meaning* |
|:---------|:----------|
| 201      | Success   |
| 415      | Invalid content type |

Post a new location packet for the platform with ID *platformID*. The packet should be contained as a JSON payload in
the body of the POST. The packet must contain keyword `timestamp`, holding the unix epoch time in *milliseconds*
(JavaScript style).

If successful, the server will return a response code of `201`, with the response `location` field set to the URI of the
newly created resource (the new location packet). The response body will contain a copy of the newly created location
packet.

**Example**
```Shell
$POST_platforms_platformID_locations
```





## Get locations

Return all location packets from the platform with ID `:platformID` that satisfy a search query.

```
GET /api/v1/platforms/:platformID/locations
```

**Parameters**

| *Name*      | *Type*  | *Description*                                                                                                                      |
|:------------|:--------|:-----------------------------------------------------------------------------------------------------------------------------------|
| `start`     | integer | All timestamps greater than this value will be included in the results. Default: first available packet.                           |
| `stop`      | integer | All timestamps less than or equal to this value will be included in the results. Default: last available packet.                   |
| `limit`     | integer | Limit the number of returned packets to this value. Default: 0 (no limit).                                                         |
| `sort`      | string  | What to sort results by. Default: `timestamp`.                                                                                     |
| `direction` | string  | The direction of the sort. Can be either `asc` or `desc`. Default: `asc`.                                                          |


Returns a status of `400` if the *platformID* does not exist. Additional details are in the response body.

**Example**

```Shell
$GET_platforms_platformID_locations
```





## Get last location

Get the last location of a platform

```
GET /api/v1/platforms/:platformID/locations/latest
```
**Return status**

| *Status* | *Meaning*               |
|:---------|:------------------------|
| 200      | Success                 |
| 404      | Packet does not exist, or has an empty location stream  |

If successful, the server will return a response code of `200`, with the URI of the matching timestamp
in the Location field of the response.

**Example**
```Shell
$GET_platforms_platformID_locations_timestamp_latest
```





## Get location at a specific time

Get the location of a platform at a specific time

```
GET /api/v1/platforms/:platformID/locations/:timestamp
```

**Parameters**

| *Name*   | *Type* | *Value*      | *Description*                                          |
|:---------|:-------|:-------------|:-------------------------------------------------------|
| `match`  | string | `exact`      | Require exact match of timestamp.                      |
| `match`  | string | `lastBefore` | Use timestamp or closest previous timestamp (default). |
| `match`  | string | `firstAfter` | Use timestamp or closest later timestamp.              |

If the query `match` is `lastBefore` or `firstAfter`, then an exact match is not necessary.
Instead, the last location before, or after (respectively), the given `timestamp` is returned.

**Return status**

| *Status* | *Meaning*               |
|:---------|:------------------------|
| 200      | Success                 |
| 400      | Platform does not exist |
| 404      | Packet does not exist   |

If successful, the server will return a response code of `200`, with the location encoded as JSON in the response
body.

**Example of exact match**

```Shell
$GET_platforms_platformID_locations_timestamp_exact
```





## Delete location record

Delete a specific location packet

```
DELETE /api/v1/platforms/:platformID/locations/:timestamp
```

**Return status**

| *Status* | *Meaning*             |
|:---------|:----------------------|
| 204      | Success               |
| 404      | The platform or location record does not exist |

If successful, the server will return a response code of `204`, with nothing in the response body.
If the platform and/or timestamp do not exist in the database, then a response code of `404` is returned.

**Example**
```Shell
$DELETE_platforms_platformID_locations_timestamp
```





## Create a new stream

Create a new stream and return its metadata.

```
POST /api/v1/streams
```

**JSON input**

|  **Name** | **Type** | **Description** |
|:----------|:----------|:------------------|
| `name`       | string   | Optional. If given, must be unique. |
| `unit_group` | string | Required. The Standard Unit System used by the stream.|

**Return status**

| *Status* | *Meaning*               |
|:----------|:-------------------------|
| 201      | Success                 |
| 400      | Invalid post (probably a duplicate name) |
| 415      | Invalid content type    |

If a `name` is given, it must be unique.

The streams API makes no requirements of the `unit_group`, but it is generally one of `US`, `METRIC`, or `METRICWX`.

The metadata for the new stream is returned in the response body. A URI for the new stream is returned
in the Location response header.

**Example**
```Shell
$POST_streams
```





## Post a new packet

Post a new packet to a specific stream.

```
POST /api/v1/streams/:streamID/packets
```
**JSON input**

| *Name* | *Type* | *Description* |
|:--|:--|:--|
| `timestamp` | Integer | Time since the Unix epoch in milliseconds |
| *observation type* | *any* | The value of the observation type at the timestamp |


**Return status**

| *Status* | *Meaning* |
|:---------|:----------|
| 201      | Success   |
| 415      | Invalid content type |

Post a LOOP packet for the stream with ID *streamID*. The packet must contain keyword `timestamp`, holding the unix
epoch time in *milliseconds* (JavaScript style). Any number of observation types can be included in the packet, but no
more than one of each type. The units used in the packet should be the same specified when the stream was created.

If successful, the server will return a response code of `201`, with the response Location field set to the URL of the
newly created resource (packet), the body holding a JSON representation of the posted packet.


**Example**
```Shell
$POST_streams_streamID_packets
```





## Get packets

Return all packets from the stream with ID `:streamID` that satisfy a search query.

```
GET /api/v1/streams/:streamID/packets
```

**Parameters**

| *Name*      | *Type*  | *Description*                                                                                                                      |
|:------------|:--------|:-----------------------------------------------------------------------------------------------------------------------------------|
| `start`     | integer | All packets greater than this value will be included in the results. Default: first available packet.                              |
| `stop`      | integer | All packets less than or equal to this value will be included in the results. Default: last available packet.                      |
| `limit`     | integer | Limit the number of returned packets to this value. Default: 0 (no limit).                                                         |
| `sort`      | string  | What to sort results by. Default: `timestamp`.                                                                                     |
| `direction` | string  | The direction of the sort. Can be either `asc` or `desc`. Default: `asc`.                                                          |
| `query`     | string  | An arbitrary [MongoDB query](https://docs.mongodb.org/manual/tutorial/query-documents/) that restricts the returned packets.       |


**Response code**

| *Status* | *Meaning*             |
|:---------|:----------------------|
| 200      | Success               |
| 400      | Malformed query       |
| 404      | Stream does not exist |

**Example**

```Shell
$GET_streams_streamID_packets
```

**Same example, but sorted by humidity**

```Shell
$GET_streams_streamID_packets_sort
```

**Same example, but with query**

In this case, we only include those packets with outside temperature greater than or equal to 44.
This can be expressed with the MongoDB query:

```Javascript
{"outside_humidity" : {"$gte" : 44}}
```

This results in a query parameter, which once encoded, looks like

```
?query=%7B%22outside_humidity%22%3A%20%7B%22%24gte%22%3A%2044%7D%7D
```

```Shell
$GET_streams_streamID_packets_query
```




## Aggregate packets

Return the aggregate value of an observation type from the stream with ID `:streamID` that satisfies a search and
aggregation query.

```
GET /api/v1/streams/:streamID/packets
```

**Parameters**

| *Name*           | *Type*  | *Description*                                                                                                                                   |
|:-----------------|:--------|:------------------------------------------------------------------------------------------------------------------------------------------------|
| `start`          | integer | All packets greater than this value will be included in the results. If missing, then start with the first available packet.                    |
| `stop`           | integer | All packets less than or equal to this value will be included in the results. If missing, then end with the last available packet.              |
| `aggregate_type` | string  | The type of aggregation to be performed. Valid choices include `min`, `max`, `sum`, `avg`, `first` and `last`.                                  |
| `obs_type`       | string  | The observation type over which the aggregation is to be performed.                                                                             |
| `query`          | string  | An arbitrary [MongoDB query](https://docs.mongodb.org/manual/tutorial/query-documents/) that restricts the packets included in the aggregation. |

**Response code**

| *Status* | *Meaning*             |
|:---------|:----------------------|
| 200      | Success               |
| 400      | Malformed query       |
| 404      | Stream does not exist |

The abbreviation `agg_type` can be used in place of `aggregate_type`.

Null observation values are ignored.

Result is returned in the response body as a single value, encoded in JSON.

If the observation type *obs_type* is not in the collection, then `null` will be returned.

**Example**

```Shell
$GET_streams_streamID_packets_max
```

**Example with query**

In this example, we again look for the max outside temperature, but only for those packets with an outside
humidity greater than or equal to 44. This can be expressed with the MongoDB query:

```Javascript
{"outside_humidity" : {"$gte" : 44}}
```

This results in a query parameter, which once encoded, looks like

```
&query=%7B%22outside_humidity%22%3A%20%7B%22%24gte%22%3A%2044%7D%7D
```

```Shell
$GET_streams_streamID_packets_max_query
```



## Get last packet

Get the last packet emitted by a stream

```
GET /api/v1/streams/:streamID/packets/latest
```
**Return status**

| *Status* | *Meaning*               |
|:---------|:------------------------|
| 200      | Success                 |
| 404      | Stream does not exist or is empty |

If successful, the server will return a response code of `200`, with the URI of the matching timestamp
in the Location field of the response.

**Example**
```Shell
$GET_streams_streamID_packets_timestamp_latest
```





## Get a specific packet

Get a packet from a specific stream with a specific timestamp

```
GET /api/v1/streams/:streamID/packets/:timestamp
```

**Parameters**

| *Name*   | *Type* | *Value*      | *Description*                                          |
|:---------|:-------|:-------------|:-------------------------------------------------------|
| `match`  | string | `exact`      | Require exact match of timestamp (default).            |
| `match`  | string | `lastBefore` | Use timestamp or closest previous timestamp.           |
| `match`  | string | `firstAfter` | Use timestamp or closest later timestamp.              |

If the query `match` is `lastBefore` or `firstAfter`, then an exact match is not necessary.
Instead, the last location before, or after (respectively), the given `timestamp` is returned.

In all cases, the URI of the matching packet is returned in the `Location` field of the response header.

**Return status**

| *Status* | *Meaning*             |
|:---------|:----------------------|
| 200      | Success               |
| 404      | Stream or packet does not exist |

If successful, the server will return a response code of `200`, with the packet encoded as JSON in the response body. If
the stream and/or timestamp do not exist in the database, then a response code of `404` is returned.


**Example of exact match**
```Shell
$GET_streams_streamID_packets_timestamp_exact
```

**Example of matching `lastBefore`**

Note that the URI of the chosen matching packet is returned in the `Location` field of the response header.

```Shell
$GET_streams_streamID_packets_timestamp_lastBefore
```





## Delete a specific packet

Delete a packet from a specific stream with a specific timestamp

```
DELETE /api/v1/streams/:streamID/packets/:timestamp
```

**Return status**

| *Status* | *Meaning*             |
|:---------|:----------------------|
| 204      | Success               |
| 404      | The stream or packet does not exist |

If successful, the server will return a response code of `204`, with nothing in the response body.
If the stream and/or timestamp do not exist in the database, then a response code of `404` is returned.

**Example**
```Shell
$DELETE_streams_streamID_packets_timestamp
```





# License & Copyright

Copyright (c) 2016 Tom Keffer <tkeffer@gmail.com>

See the file LICENSE for your full rights.
